body {
  background-image: url('http://i.imgur.com/PPNEPNs.jpg');
  background-size: cover;
  background-color: #222;
  color: #EEE;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.config button {
  appearance: none;
  padding: 12px 24px;
  margin: 0 15px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}

.counters {
  position: absolute;
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.counter {
  width: 50%;
  text-align: center;
}

.tally {
  font-size: 64px;
  font-weight: bold;
  padding: 0 0 12px 0;
}

button.plus,
button.minus {
  appearance: none;
  margin: 0 8px;
  padding: 20px;
  width: 68px;
  height: 68px;
  font-size: 36px;
  font-weight: bold;
  line-height: 0;
  color: #444;
  background: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px white;
  border-radius: 999px;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.remove-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: block;
  clear: both;
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #FFF;
  transition: all 300ms;
}

.remove-checkbox:checked {
  transform: rotate(180deg);
}